<div class="container">

  <div class="row heading">
    <div class="col-md-12">
      <h2> You are
        <strong><%= current_user.email %></strong> <br>
      </h2>
      <small>
        signed in  <%= time_ago_in_words(current_user.current_sign_in_at) %> ago. <br>
      </small>
    </div>
  </div>


  <div class="row-content">

    <div class="col-md-6">
      <h2> Profile details </h2> <br>
      <ul>
        <li><p> You've been our user since <%= current_user.created_at %>.</p></li>
        <li><p> Your last visit was <%= time_ago_in_words(current_user.last_sign_in_at)%> ago.<p></li>
        <li><p> You've been with us  <%= current_user.sign_in_count %> times :))<p></li>
        <li><p> Your current sign in ip is <%= current_user.last_sign_in_ip %><p></li>
      </ul>

      <div class="col-md-4">
        <%= link_to "Edit profile here", edit_user_registration_path, :class => 'btn btn-success' %>
      </div>

    </div>



    <div class="col-md-6">
      <%= render partial: 'items/item', locals: { item: @item } %>

      <div class="col-md-4">
        <%= link_to "Create To-Do here", new_user_item_path(current_user), :class => 'btn btn-success' %>
      </div>
    </div>

  </div>



</div>
